 # Assignment 2

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
    # You have to scrape the job-title, job-location, company_name, experience_required. 
    # You have to scrape first 10 jobs data.

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\asus\anaconda3\lib\site-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\asus\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: cffi>=1.14 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: outcome in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.0)
Requirement already satisfied: sortedcontainers in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\asus\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\asus\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\asus\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\asus\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\asus\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [1]:
#importing important libraries
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time

In [50]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
#maximizing automated windows
driver.maximize_window()

In [25]:
#connecting to webdriver by another method
driver = webdriver.Chrome('chromedriver.exe')

In [7]:
#opening website in automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

In [8]:
#finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Analyst")

In [9]:
#finding web element for search location using absolute xpath
search_locn = driver.find_element(By.XPATH,'//html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input')
search_locn.send_keys("Bangalore")

In [10]:
#clicking using absolute xpath function
search_btn =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

#Extracting job titles

In [14]:
#extracting all the web elements containing job titles
job_titles =[]
title_tags = driver.find_elements(By.XPATH,"//a[@ class='title fw500 ellipsis']" )
for i in title_tags :
    job_titles.append(i.text)
len(job_titles)

20

In [18]:
#extracting all the web elements containing location
location =[]
loctn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loctn_tags :
    location.append(i.text)
len(location)

20

In [20]:
#extracting all the web elements containing company names
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [22]:
#extracting all the web elements containing experience
experience= []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags :
    experience.append(i.text)
len(experience)

20

In [24]:
#now let's create a dataframe for first 10 scrapped data 
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[0:10]
jobs['Company Names'] = company_names[0:10]
jobs['Experience']=experience[0:10]
jobs['Location'] = location[0:10]
jobs

,Job Title,Company Names,Experience,Location
0,Lead Data Analyst,Lead Data Analyst,4-7 Yrs,Bangalore/Bengaluru
1,Sr. Data Analyst (SAS Data Management),Sr. Data Analyst (SAS Data Management),5-10 Yrs,"Bangalore/Bengaluru, New Delhi"
2,Data Analyst - Consumer Analytics,Data Analyst - Consumer Analytics,2-4 Yrs,Bangalore/Bengaluru
3,Assistant Manager - Data Analyst,Assistant Manager - Data Analyst,3-6 Yrs,Bangalore/Bengaluru
4,Manager - Data Analyst - KPO,Manager - Data Analyst - KPO,5-9 Yrs,Bangalore/Bengaluru
5,Manager - Data Analyst - KPO,Manager - Data Analyst - KPO,3-8 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
6,Data Analyst - Python,Data Analyst - Python,4-9 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
7,Manager - Data Analyst - KPO,Manager - Data Analyst - KPO,2-7 Yrs,"Bangalore/Bengaluru, Gurgaon/Gurugram"
8,Data Analyst,Data Analyst,1-3 Yrs,Bangalore/Bengaluru
9,Data Analyst/ Sr Data Analyst (For an Agro-tec...,Data Analyst/ Sr Data Analyst (For an Agro-tec...,5-10 Yrs,Bangalore/Bengaluru

# #Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [3]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
#opening website in automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

In [26]:
#finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [27]:
#finding web element for search location using absolute xpath
search_locn = driver.find_element(By.XPATH,'//html/body/div[1]/div[6]/div/div/div[5]/div/div/div[1]/input')
search_locn.send_keys("Bangalore")

In [28]:
#clicking using absolute xpath function
search_btn =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

# extracting job titles

In [29]:
#extracting all the web elements containing job titles
job_titles =[]
title_tags = driver.find_elements(By.XPATH,"//a[@ class='title fw500 ellipsis']" )
for i in title_tags :
    job_titles.append(i.text)
len(job_titles)

20

In [30]:
#extracting all the web elements containing location
location =[]
loctn_tags = driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loctn_tags :
    location.append(i.text)
len(location)

20

In [31]:
#extracting all the web elements containing company names
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in company_tags:
    company_names.append(i.text)
len(company_names)

20

In [32]:
#now let's create a dataframe for first 10 scrapped data 
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[0:10]
jobs['Company Names'] = company_names[0:10]
jobs['Location'] = location[0:10]
jobs

,Job Title,Company Names,Location
0,Analystics & Modeling Specialist,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba..."
1,Senior Data Scientist,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai"
2,Data Scientist - Looking For Immediate Joiners,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund..."
3,Assistant Manager - Data Science,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune"
4,Data Scientist,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P..."
5,Data Scientist - 2,Data Scientist - 2,Bangalore/Bengaluru
6,Data Scientist,Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder..."
7,Assistant Vice President - Data Scientist - KPO,Assistant Vice President - Data Scientist - KPO,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
8,Data Scientist,Data Scientist,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund..."
9,Senior Data Scientist,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai"

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
#You have to use the location and salary filter.
#You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company name, experience required.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [27]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [28]:
#opening website in automated chrome window
url = 'https://www.naukri.com/'
driver.get(url)

In [29]:
#finding web element for search job bar
search_job = driver.find_element(By.CLASS_NAME,"suggestor-input")
search_job.send_keys("Data Scientist")

In [30]:
#clicking using absolute xpath function
search_btn =driver.find_element(By.CLASS_NAME,"qsbSubmit")
search_btn.click()

In [32]:
filter_loctn = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[4]/div[1]/section[1]/div[2]/div[5]/div[2]/div[2]/label[1]/i[1]')
filter_loctn.click()

In [33]:
filter_salary = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/div[4]/div[1]/section[1]/div[2]/div[6]/div[2]/div[2]/label[1]/i[1]')
filter_salary.click()

In [34]:
job_titles =[]
title_tags = driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']" )
for i in title_tags :
    job_titles.append(i.text)
len(job_titles) 
print(job_titles)

['Data Scientist', 'DigitalBCG GAMMA Data Scientist', 'Urgent hiring For Data Scientist (PHD Must Have)', 'Manager - Data Science - Banking&Financial Services - IIM/ISB/MDI/FMS', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Specialist', 'Data scientist- Python', 'Data Scientist', 'Senior Data Scientist - Python (f/m/x)']

In [35]:
#extracting all the web elements containing location
location =[]
loctn_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 locWdth"]')
for i in loctn_tags :
    location.append(i.text)
len(location)

11

In [36]:
#extracting all the web elements containing company names
company_names =[]
company_tags = driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags:
    company_names.append(i.text)
len(company_names)

11

In [37]:
#extracting all the web elements containing experience
experience= []
exp_tags = driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in exp_tags :
    experience.append(i.text)
len(experience)

11

In [40]:
#now let's create a dataframe for first 10 scrapped data 
jobs = pd.DataFrame()
jobs['Job Title'] = job_titles[0:10]
jobs['Company Names'] = company_names[0:10]
jobs['Location'] = location[0:10]
jobs['Experience'] = experience[0:10]
jobs

,Job Title,Company Names,Location,Experience
0,Data Scientist,HCLTech,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,Boston Consulting Group,"New Delhi, Bangalore/Bengaluru",2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),NGI Ventures,"Temp. WFH - Noida, Pune",0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,Black Turtle,"Delhi / NCR, Bangalore/Bengaluru",4-8 Yrs
4,Data Scientist,torcai digital media,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",2-7 Yrs
5,Data Scientist,Meon Technologies,Noida,2-5 Yrs
6,Data Scientist,Alliance Recruitment Agency,Noida,3-4 Yrs
7,Data Specialist,RCPC,Noida,4-6 Yrs
8,Data scientist- Python,TeamPlus Staffing Solution Pvt Ltd,Gurgaon/Gurugram,3-6 Yrs
9,Data Scientist,Razor Group GmbH,New Delhi,2-3 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

In [25]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [26]:
#opening website in automated chrome window
url = 'https://www.flipkart.com/'
driver.get(url)

In [27]:
#finding web element for search job bar
search_glasses = driver.find_element(By.CLASS_NAME,"_3704LK")
search_glasses.send_keys("Sun Glasses")

In [28]:
search_btn = driver.find_element(By.CLASS_NAME,"_34RNph")
search_btn.click()

In [29]:
brands =[]
brands_sgls = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brands_sgls [0:100]:
    brands.append(i.text)
len(brands) 
print(brands)

['Tag Eye', 'hayden haiza', 'Fastrack', 'Fastrack', 'PIRASO', 'Fastrack', 'SUNBEE', 'DEXENT COLLECTION', 'New Specs', 'Fastrack', 'Poshh eyewear', 'ROZZETTA CRAFT', 'Sewell', 'Fastrack', 'Elligator', 'Elligator', 'Resist', 'ROZZETTA CRAFT', 'VINCENT CHASE', 'PIRASO', 'ROZZETTA CRAFT', 'ROZZETTA CRAFT', 'Fastrack', 'Fastrack', 'PIRASO', 'GANSTA', 'Singco India', 'OCHILA', 'SRPM', 'Fastrack', 'ROZZETTA CRAFT', 'ROYAL SON', 'Fastrack', 'ROZZETTA CRAFT', 'PIRASO', 'SHAAH COLLECTIONS', 'Fair-x', 'PROVOGUE', 'SRPM', 'Fastrack']

In [30]:
product =[]
product_des = driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in product_des [0:100]:
    product.append(i.text)
len(product) 
print(product)

['UV Protection Aviator Sunglasses (66)', 'UV Protection Retro Square Sunglasses (46)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (52)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'UV Protection Oval Sunglasses (Free Size)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...', 'Polarized, UV Protection Aviator Sunglasses (55)', 'Mirrored, Night Vision, UV Protection, Riding Glasses S...', 'UV Protection Shield Sunglasses (Free Size)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Others Cat-eye, Retro Square, Wayfarer Sunglasses (54)', 'Polarized Wayfarer Sunglasses (Free Size)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection Wayfarer Sunglasses (59)', 'UV Protection Aviator Sunglasses (54)', 'UV Protection, Gradient Rectangular Sunglasses (Free Si...', 'UV Protection, Gradient Round Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Aviator Sunglasses (58)', 'Gradient, UV Protection Aviator Sunglasses (57)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'UV Protection Aviator Sunglasses (58)', 'UV Protection Wayfarer Sunglasses (50)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Aviator Sunglasses (55)', 'Polarized, UV Protection Aviator Sunglasses (57)', 'UV Protection Aviator Sunglasses (Free Size)', 'Polarized, Riding Glasses Sports, Wrap-around Sunglasse...', 'UV Protection Wayfarer Sunglasses (32)', 'UV Protection, Polarized, Mirrored Rectangular Sunglass...', 'UV Protection Aviator Sunglasses (58)', 'Polarized, UV Protection Rectangular Sunglasses (Free S...', 'Night Vision, UV Protection Round Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)']

In [31]:
price =[]
price_details = driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_details [0:100]:
    price.append(i.text)
len(price)

45

In [32]:
discount =[]
discount_per = driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
for i in discount_per [0:100]:
    discount.append(i.text)
len(discount)

45

In [11]:
brands =[]
start=0
end=2
for page in range(start,end):
    glasses=driver.find_elements(By.CLASS_NAME,"_3704LK")
    for i in glasses:
        brands.append(i.text)
    next_button=driver.find_element(By.XPATH,'//span[contains(text(),"Next")]')
    next_button.click()
    time.sleep(3)
driver.close()

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [12]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [15]:
#opening website in automated chrome window
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb'
driver.get(url)

In [16]:
#this website not opening showing an error

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [3]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [4]:
#opening website in automated chrome window
url = 'https://www.flipkart.com/'
driver.get(url)

In [17]:
#finding web element for search job bar
search_sneak = driver.find_element(By.CLASS_NAME,"_3704LK")
search_sneak.send_keys("Sneakers")

In [19]:
search_btn = driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search_btn.click()

In [20]:
brands =[]
brands_sneak = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brands_sneak :
    brands.append(i.text)
len(brands) 
print(brands)

['RED TAPE', 'RED TAPE', 'Labbin', 'PUMA', 'TR', 'Robbie jones', 'Kraasa', 'BRUTON', 'TR', 'Indianwalk', 'BIRDE', 'Magnolia', 'Deals4you', 'Robbie jones', 'BRUTON', 'RapidBox', 'SCATCHITE', 'T-ROCK', 'ASTEROID', 'BRUTON', 'World Wear Footwear', 'aadi', 'BRUTON', 'Sparx', 'HOTSTYLE', 'RINDAS', 'aadi', 'PUMA', 'asics', 'Magnolia', 'DUCATI', 'BRUTON', 'ASTEROID', 'GVR', 'AMICO', 'BUXBERRY', 'BIRDE', 'Robbie jones', 'LNT FASHION', 'BRUTON']

In [21]:
product =[]
product_des = driver.find_elements(By.CLASS_NAME,"IRpwTa")
for i in product_des :
    product.append(i.text)
len(product) 
print(product)

['Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Trinity Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Casual Sneakers For Men', 'Casual sneakers Sneakers For Men', 'Premium Sports Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Sneakers For Women', 'Sneakers For Men', 'Canvas shoes for Men Sneakers For Men', 'Sneakers For Men', 'Sneakers Sneakers For Men', 'Stylish White Casual Sneakers shoes Men and Boys Sneake...', "Luxury Branded Fashionable Men's Casual Walking Partywe...", 'Exclusive Sneaker Shoes Sneakers For Men', 'Exclusive Affordable Collection of Trendy & Stylish Cas...', 'Mesh | Ultralightweight | Comfortable | Breathable Walk...', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...', 'SM-671 Sneakers For Men', 'Sneakers For Men', "Perfect Stylish Casual Shoes For Girls & Women's Casual...", 'Sneakers For Men', 'Acrux Sneakers For Men', 'fuzor B Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Modern Trendy Sneakers Shoes Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'Sneakers For Men', 'Sneakers For Men', 'Outdoor Trendy Lightweight Casual,Canvas Stylish Partyw...', 'Premium Casual Shoes for Men Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Lattest Sneakers Shoe Sneakers For Men']

In [23]:
price =[]
price_details = driver.find_elements(By.CLASS_NAME,"_30jeq3")
for i in price_details :
    price.append(i.text)
len(price)  
print(price)

['₹1,249', '₹1,349', '₹395', '₹2,204', '₹299', '₹329', '₹499', '₹199', '₹449', '₹599', '₹379', '₹299', '₹389', '₹349', '₹389', '₹599', '₹360', '₹395', '₹499', '₹324', '₹249', '₹399', '₹199', '₹879', '₹249', '₹298', '₹249', '₹1,966', '₹1,427', '₹299', '₹1,014', '₹324', '₹499', '₹629', '₹494', '₹490', '₹299', '₹329', '₹267', '₹298', '₹2,204', '₹879', '₹329', '₹329', '₹599']

In [25]:
discount =[]
discount_per = driver.find_elements(By.CLASS_NAME,"_3Ay6Sb")
for i in discount_per:
    discount.append(i.text)
len(discount)    
print(discount)

['75% off', '75% off', '60% off', '37% off', '80% off', '67% off', '50% off', '66% off', '70% off', '70% off', '62% off', '70% off', '61% off', '65% off', '70% off', '40% off', '63% off', '60% off', '75% off', '75% off', '83% off', '80% off', '66% off', '20% off', '75% off', '70% off', '87% off', '40% off', '62% off', '70% off', '71% off', '75% off', '50% off', '37% off', '50% off', '60% off', '70% off', '67% off', '73% off', '77% off', '37% off', '20% off', '67% off', '67% off', '70% off']

# Q7: Go to the link - https://www.myntra.com/shoes
#Set second Price filter and Color filter to “Black”
#And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [16]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [17]:
#opening website in automated chrome window
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [18]:
filter_price = driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[1]/main[1]/div[3]/div[1]/section[1]/div[1]/div[5]/ul[1]/li[2]/label[1]/div[1]')
filter_price.click()

In [19]:
filter_colour = driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[1]/main[1]/div[3]/div[1]/section[1]/div[1]/div[6]/ul[1]/li[1]/label[1]/div[1]')
filter_colour.click()

In [22]:
#extracting brands
brands =[]
brands_shoes = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brands_shoes [0:100]:
    brands.append(i.text)
len(brands) 
print(brands)

['Puma', 'Puma', 'Nike', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Nike', 'UNDER ARMOUR', 'Nike', 'Puma', 'Ruosh', 'UNDER ARMOUR', 'ADIDAS Originals', 'Nike', 'ADIDAS', 'UNDER ARMOUR', 'ADIDAS', 'Saint G', 'Skechers', 'Nike', 'Skechers', 'ADIDAS Originals', 'Nike', 'Tommy Hilfiger', 'ADIDAS', 'Skechers', 'UNDER ARMOUR', 'Skechers', 'ADIDAS', 'Puma', 'Xtep', 'ADIDAS Originals', 'ADIDAS', 'Geox', 'Geox', 'Nike', 'ADIDAS', 'ADIDAS', 'Nike', 'ADIDAS', 'Nike', 'Ruosh', 'ALDO', 'Nike', 'ADIDAS Originals', 'ALDO', 'Nike', 'Ruosh', 'Saint G', 'Xtep', 'Skechers']

In [23]:
#extracting product description
product =[]
product_des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in product_des [0:100]:
    product.append(i.text)
len(product) 
print(product)

['Men Magnify Nitro Running', 'Men Liberate Running Shoes', 'Men Vomero 16 Running Shoes', 'Men HOVR SonicSE Running Shoes', 'Men ChargedEscape 3 BL Running', 'JORDAN ZION 2 Basketball Shoes', 'Unisex 3ZER0 IV Basketball', 'JORDAN MAX AURA 4 Shoes', 'Eternity Nitro Running Shoes', 'Men Textured Leather Loafers', 'Women HOVR SonicSE Running', 'Men ZX 22 BOOST Sneakers', 'Men FREE RUN 2 Sneakers', 'Men Runner Fl Running Shoes', 'Men HOVR SonicSE Running Shoes', 'Men Ultraboost 5.0 DNA Running', 'Suede Above The Knee Boots', 'Men Walking Shoes', 'Men Air Max Flyknit Sneakers', 'Men Sky Vault Walking Shoes', 'Men Solid NMD_R1 V3 Sneakers', 'Men AIR MAX DAWN Sneakers', 'Men Textured Leather Loafers', 'Men Adistar Running Shoes', 'Men GO WALK - TERRA Shoes', 'W omen TriBase Reign 4 Running', 'Men Woven Design Sneakers', 'Men Response Super 3.0 Run', 'Men Nitro 2 WIDE Running Shoes', 'Men Running Shoes', 'Men Leather Ozelia Sneakers', 'Men Ultraboost 5.0 DNA Running', 'Woman Leather Ankle Boots', 'Leather Heeled Boots', 'Men KD 15 Basketball Shoes', 'Women Ultraboost 22 Running', 'Men Adistar CS Running Shoes', 'Women AIR ZOOM Running Shoes', 'Men Response Super 3.0 Run', 'Men Air Max Sneakers', 'Men Leather Loafers', 'Men Slip-On Sneakers', 'Men Kyrie Flytrap Basketball', 'Men Woven Nmd_R1 Sneakers', 'Men Solid Leather Slip On Formal Shoes', 'Men AIR WINFLO 9 Running Shoes', 'Men Textured Leather Loafers', 'Block Heeled Boots', 'Men Basketball Shoes', 'Women Go Walk EU Walking Shoes']

In [24]:
#extracting price
price =[]
price_details = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price_details [0:100]:
    price.append(i.text)
len(price)  
print(price)

['Rs. 9099Rs. 12999(30% OFF)', 'Rs. 10999', 'Rs. 11470Rs. 13495(15% OFF)', 'Rs. 9999', 'Rs. 8999', 'Rs. 9175Rs. 10795(15% OFF)', 'Rs. 8999', 'Rs. 10165Rs. 11295(10% OFF)', 'Rs. 12999', 'Rs. 7990', 'Rs. 9999', 'Rs. 10199Rs. 11999(15% OFF)', 'Rs. 9695', 'Rs. 11249Rs. 14999(25% OFF)', 'Rs. 9999', 'Rs. 12749Rs. 16999(25% OFF)', 'Rs. 13410Rs. 14900(10% OFF)', 'Rs. 8999', 'Rs. 12745Rs. 14995(15% OFF)', 'Rs. 8999', 'Rs. 12799Rs. 15999(20% OFF)', 'Rs. 9175Rs. 10795(15% OFF)', 'Rs. 8999', 'Rs. 12999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 11999', 'Rs. 7499', 'Rs. 8999', 'Rs. 11999', 'Rs. 7199Rs. 7999(10% OFF)', 'Rs. 9349Rs. 10999(15% OFF)', 'Rs. 11049Rs. 16999(35% OFF)', 'Rs. 13990', 'Rs. 13990', 'Rs. 11196Rs. 13995(20% OFF)', 'Rs. 12349Rs. 18999(35% OFF)', 'Rs. 11999Rs. 15999(25% OFF)', 'Rs. 8750Rs. 10295(15% OFF)', 'Rs. 8999', 'Rs. 8295', 'Rs. 8990', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 7220Rs. 8495(15% OFF)', 'Rs. 12999', 'Rs. 11399Rs. 18999(40% OFF)', 'Rs. 7220Rs. 8495(15% OFF)', 'Rs. 8990', 'Rs. 7560Rs. 8400(10% OFF)', 'Rs. 7199Rs. 7999(10% OFF)', 'Rs. 7499']

In [54]:
#clicking on next button 
next_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
next_button.click()

In [55]:
#extracting brands from 2nd page
brands =[]
brands_shoes = driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
for i in brands_shoes :
    brands.append(i.text)
len(brands) 
print(brands)

['ADIDAS', 'ALDO', 'Columbia', 'Bugatti', 'Skechers', 'Puma', 'Saint G', 'ADIDAS', 'Puma', 'Nike', 'ADIDAS Originals', 'Nike', 'UNDER ARMOUR', 'Puma', 'Xtep', 'Puma', 'ADIDAS Originals', 'ADIDAS Originals', 'Tommy Hilfiger', 'Geox', 'ADIDAS Originals', 'J.FONTINI', 'ALDO', 'Skechers', 'Saint G', 'Hush Puppies', 'Puma', 'Geox', 'Skechers', 'Tommy Hilfiger', 'ADIDAS', 'SKO', 'Puma', 'Saint G', 'ADIDAS Originals', 'Nike', 'Hush Puppies', 'ALDO', 'Bugatti', 'Nike', 'ALDO', 'Geox', 'Skechers', 'ALDO', 'ADIDAS Originals', 'Nike', 'Clarks', 'Nike', 'Geox', 'Tommy Hilfiger']

In [56]:
#extracting product des from ii page
product =[]
product_des = driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
for i in product_des :
    product.append(i.text)
len(product) 
print(product)

['Men Adistar CS Running Shoes', 'Men Leather Loafers', 'Women Trekking Shoes', 'Men Running Sports Shoes', 'Men Sky Vault Walking Shoes', 'Men Running Shoes', 'Leather Block Heeled Boots', 'Women Solid Pureboost 22 Shoes', 'Women Eternity NITRO Shoes', 'Women AIR ZOOM Running Shoes', 'Men Woven NMD_31 Sneakers', 'Men FREE RUN 2 Sneakers', 'Men HOVR Sonic SE Running Shoe', 'Men Nitro 2 WIDE Running Shoes', 'Men Skateboarding Shoes', 'Women Running Sports Shoes', 'Women Forum Bonega Sneakers', 'Men Woven FomSolution Sneakers', 'Men Solid Sneakers', 'Women Solid Boots', 'Men Retropy F90 Sneakers', 'Men Textured Leather Loafers', 'Women Regular Boots', 'Women Go Walk EU Walking Shoes', 'Leather Wedge Heeled Boots with Buckles', 'Men Perforations Leather Slip-On Sneakers', 'Fusion Evo Extra Wide Golf Shoes', 'Women Solid Boots', 'Men Woven Design Sneakers', 'Men Leather Mid-Top Sneakers', 'Women Super 3.0 Running Shoes', 'Men Perforations Leather Loafers', 'Women Run XX Nitro Running', 'Women Leather Knee High Boots', 'Men ZX 5K Boost Sneakers', 'Women Air Max Flyknit Sneakers', 'Men Solid Leather Formal Slip-Ons', 'Men Mid Top Lace Up Sneakers', 'Men Running Shoes', 'Women React Infinity Running', 'Men Slip-On Sneakers', 'Leather Ankle Boots', 'Men GO FLEX 2-COMPLETION Shoes', 'Women Textured Sneakers', 'Women Forum Low Sneakers', 'Women VOMERO 16 Running Shoes', 'Men Solid Leather Formal Loafers', 'Men JORDAN LOW Basketball Shoe', 'Men Leather Slip-On Sneakers', 'Women Leather Sneakers']

In [57]:
#extracting prices from ii page
price =[]
price_details = driver.find_elements(By.XPATH,'//div[@class="product-price"]')
for i in price_details :
    price.append(i.text)
len(price)  
print(price)

['Rs. 11999Rs. 15999(25% OFF)', 'Rs. 13299Rs. 18999(30% OFF)', 'Rs. 8999', 'Rs. 13999', 'Rs. 8999', 'Rs. 13999', 'Rs. 8010Rs. 8900(10% OFF)', 'Rs. 8999Rs. 11999(25% OFF)', 'Rs. 12999', 'Rs. 8750Rs. 10295(15% OFF)', 'Rs. 9799Rs. 13999(30% OFF)', 'Rs. 9695', 'Rs. 9999', 'Rs. 11999', 'Rs. 8599', 'Rs. 10499Rs. 14999(30% OFF)', 'Rs. 10199Rs. 11999(15% OFF)', 'Rs. 9999', 'Rs. 7999Rs. 9999(20% OFF)', 'Rs. 13990', 'Rs. 9999', 'Rs. 8490', 'Rs. 13999', 'Rs. 7499', 'Rs. 13410Rs. 14900(10% OFF)', 'Rs. 7999', 'Rs. 7649Rs. 8999(15% OFF)', 'Rs. 12990', 'Rs. 7499', 'Rs. 7199Rs. 8999(20% OFF)', 'Rs. 8999', 'Rs. 7500', 'Rs. 9999', 'Rs. 12510Rs. 13900(10% OFF)', 'Rs. 12799Rs. 15999(20% OFF)', 'Rs. 11996Rs. 14995(20% OFF)', 'Rs. 9999', 'Rs. 9599Rs. 15999(40% OFF)', 'Rs. 13999', 'Rs. 11196Rs. 13995(20% OFF)', 'Rs. 9099Rs. 12999(30% OFF)', 'Rs. 11990', 'Rs. 7499', 'Rs. 12999', 'Rs. 9999', 'Rs. 11470Rs. 13495(15% OFF)', 'Rs. 7999', 'Rs. 12795', 'Rs. 13166Rs. 15490(15% OFF)', 'Rs. 7199Rs. 7999(10% OFF)']

# Q8: Go to webpage https://www.amazon.in/
#Enter “Laptop” in the search field and then click the search icon.
#Then set CPU Type filter to “Intel Core i7”
#After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#1. Title
#2. Ratings
#3. Price

In [2]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#opening website in automated chrome window
url = 'https://www.amazon.in/'
driver.get(url)

In [4]:
#finding web element for search job bar
search_laptop = driver.find_element(By.ID,"twotabsearchtextbox")
search_laptop.send_keys("Laptop")

In [5]:
search_btn = driver.find_element(By.ID,"nav-search-submit-button")
search_btn.click()

In [7]:
filter_cu = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[13]/span/a/div')

In [12]:
laptop_titles =[]
title_tags = driver.find_elements(By.XPATH,"//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']" )
for i in title_tags [0:10]:
    laptop_titles.append(i.text)
len(laptop_titles) 
print(laptop_titles)

['Acer Extensa 15 Lightweight Laptop 11th Gen Intel Core i3 Processor with 15.6" (39.6 cms) Full HD Display- (8 GB RAM/256GB SSD/Windows 11 Home/Intel UHD Graphics /1.7Kg/Black) EX215-54', 'Acer Aspire 3 Intel Core i5 12th Generation (8GB/512 GB SSD/Windows 11 Home/MS Office/1.7 Kg/Silver) A315-59 with 15.6-inch (39.6 cms) Full HD Laptop', '(Renewed) Dell Latitude E5470 Intel Core i5 6th Gen.6200u Processor 14.1 Inches HD Screen Notebook Computer (8 GB Ram & 256 GB SSD, Windows 10 Pro, 1.71Kg)', 'HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6inch(39.6cm) HD, Micro-Edge Laptop/AMD Radeon Graphics/Dual Speakers/Win 11 Home/MS Office/Fast Charge/Jet Black/1.69Kg, 15s-ey1508AU', 'Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th Gen 15.6" (39.62cm) HD Thin & Light Laptop (8GB/256GB SSD/Windows 11/Office 2021/2Yr Warranty/3months Game Pass/Platinum Grey/1.7Kg), 81WQ00MQIN', 'ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) HD, Dual Core Intel Celeron N4020, Thin and Light Laptop (4GB RAM/256GB SSD/Integrated Graphics/Windows 11 Home/Transparent Silver/1.8 Kg), X515MA-BR011W', "Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th Gen 11.6'' (29.46cm) HD Thin & Light Laptop (4GB/256GB SSD/Windows 11/Office 2021/3months Game Pass/Platinum Grey/1.2Kg), 81VT009UIN", 'ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/1TB HDD/Windows 11/Integrated Graphics/Grey/1.6 kg), X415JA-BV301W', 'Lenovo E41-55 AMD 14-inch (35.56cm) HD Thin and Light Laptop (AMD Athlon Pro 3045B / 8GB RAM/ 1TB HDD/Windows 11 /Integrated AMD Radeon Graphics/Iron Grey/ 1.59 kg)', '(Renewed) DELL Latitude 5490 Core i5 8th Gen Laptop, 16 GB RAM, 512GB SSD, Intel HD Graphics, 14 inch (36.83 cms) HD Screen, Windows 11 (Upgraded), MS Office, Black, Slim']

In [11]:
ratings =[]
rating_stars = driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in rating_stars[0:10] :
    ratings.append(i.text)
len(ratings)
print(ratings)

['', '', '', '', '', '', '', '', '', '']

In [10]:
#extracting price
price =[]
price_details = driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_details [0:10]:
    price.append(i.text)
len(price)

10

In [13]:
#now let's create a dataframe for first 10 scrapped data 
laptops = pd.DataFrame()
laptops['Titles'] = laptop_titles
laptops['Ratings'] = ratings
laptops['Price'] = price
laptops

                                              Titles Ratings    Price
0  Acer Extensa 15 Lightweight Laptop 11th Gen In...          ₹31,921
1  Acer Aspire 3 Intel Core i5 12th Generation (8...          ₹56,990
2  (Renewed) Dell Latitude E5470 Intel Core i5 6t...          ₹19,599
3  HP 15s-Ryzen 3 3250U 8GB SDRAM/256GB SSD 15.6i...          ₹29,740
4  Lenovo IdeaPad Slim 3 Intel Celeron N4020 4th ...          ₹28,129
5  ASUS VivoBook 15 (2021), 15.6-inch (39.62 cm) ...             ₹699
6  Lenovo IdeaPad Slim 1 Intel Celeron N4020 4th ...             ₹698
7  ASUS VivoBook 14 (2021), 14-inch (35.56 cm) HD...             ₹697
8  Lenovo E41-55 AMD 14-inch (35.56cm) HD Thin an...
9  (Renewed) DELL Latitude 5490 Core i5 8th Gen L...

# Q9: Write a python program to scrape data for Top 1000 Quotes of All Time.
The above task will be done in following steps:
1.First get the webpage https://www.azquotes.com/
2. Click on Top Quotes
3. Than scrap a) Quote b) Author c) Type Of Quote

In [11]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [12]:
#opening website in automated chrome window
url = ' https://www.azquotes.com/'
driver.get(url)

In [15]:
search_btn = driver.find_element(By.XPATH,'//a[@href="/top_quotes.html"]')
search_btn.click()

In [37]:
quote_titles =[]
title_tags = driver.find_elements(By.XPATH,"//a[@class='title']" )
for i in title_tags :
    quote_titles.append(i.text)
len(quote_titles)

100

In [38]:
quote_author =[]
author_tags = driver.find_elements(By.XPATH,"//div[@class='author']" )
for i in author_tags :
    quote_author.append(i.text)
len(quote_author)

100

In [40]:
quote_type =[]
type_tags = driver.find_elements(By.XPATH,"//div[@class='tags']" )
for i in type_tags :
    quote_type.append(i.text)
len(quote_type)

100

In [42]:
#clicking on next button 
next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()

In [44]:
quote_titles =[]
title_tags = driver.find_elements(By.XPATH,"//a[@class='title']" )
for i in title_tags :
    quote_titles.append(i.text)
len(quote_titles)

100

In [45]:
quote_author =[]
author_tags = driver.find_elements(By.XPATH,"//div[@class='author']" )
for i in author_tags :
    quote_author.append(i.text)
len(quote_author)

100

In [46]:
quote_type =[]
type_tags = driver.find_elements(By.XPATH,"//div[@class='tags']" )
for i in type_tags :
    quote_type.append(i.text)
len(quote_type)

100

# Q10: Write s python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead, Term of office, Remarks) from https://www.jagranjosh.com/.

In [27]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [28]:
#opening website in automated chrome window
url = 'https://www.jagranjosh.com/ '
driver.get(url)

In [29]:
search_btn = driver.find_element(By.XPATH,'//body[1]/div[1]/div[1]/div[1]/div[1]/div[1]/div[6]/div[1]/div[1]/header[1]/div[3]/ul[1]/li[9]/a[1]')
search_btn.click()

In [30]:
search_btn = driver.find_element(By.XPATH,'//body[1]/div[1]/div[1]/div[1]/div[2]/div[1]/div[10]/div[1]/div[1]/ul[1]/li[2]/a[1]')
search_btn.click()

In [31]:
prime_minis =[]
first_pm = driver.find_elements(By.XPATH,"/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a")
for i in first_pm :
    prime_minis.append(i.text)

print(prime_minis)

['Jawahar Lal Nehru']

In [34]:
prime_minis=[]
second_pm = driver.find_elements(By.TAG_NAME,"strong")
for i in second_pm:
    prime_minis.append(i.text)
print(prime_minis)
#not able to find relative xpath

['List of all Prime Ministers of India: Narendra Modi is the current and 14th Prime Minister of India.', 'READ |', 'List of Movies to Learn English: Watch These English Movies To Learn The Language Quickly!', 'Yogi Adityanath Cabinet 2.0: Check List of Ministers, Ministers of State (Independent Charge), and Ministers of State', 'List of all the Prime Ministers of India from 1947-2021', 'S.N.', 'Name', 'Born-Dead', 'Term of office', 'Remark', '1.', 'Jawahar Lal Nehru', '2.', '3.', '4. ', '5.', 'Indira Gandhi', '6.', '7.', '8.', 'Indira Gandhi', '9.', 'Rajiv Gandhi', '10.', '11.', 'Chandra Shekhar', '12.', '13.', 'Atal Bihari Vajpayee', '14.', '15.', '16.', 'Atal Bihari Vajpayee', '17.', 'Manmohan Singh', '18.', 'Narendra Modi', 'IQ Test:', 'Can You Spot 5 Differences Between These Pictures Within A Minute?', '', 'What You See in First 6 Seconds Reveals If You Can Stay In Long-Distance Relationships', 'Article 75 of the Indian Constitution', 'Prime Minister', 'who shall be appointed by the President of India. Prime Minister is the leader of the Cabinet Ministers.', 'President', 'Article 78 of the Indian Constitution', 'duties of the Prime Minister of India.', 'Prime Minister of India determines the dates of its meetings and programmes for the Parliament session.', 'when the House has to be prorogued or dissolved.', 'makes the announcement of principal government policies and answers questions.', 'he allocates and reshuffles various portfolios among Ministers', 'presides over the meeting of the Council of Ministers and influences their decisions.', 'Also Read the following:', 'List of all Presidents of India', 'List of Current Chief Ministers in India', 'List of International Awards received by Narendra Modi', 'List of Chief Ministers of Karnataka (1947-2021)']

In [10]:

birth_death=driver.find_element(By.XPATH,"//body[1]/div[1]/div[2]/div[1]/div[2]/div[1]/div[1]/div[1]/div[1]/div[1]/div[5]/span[1]/div[2]/table[1]/tbody[1]/tr[2]/td[3]/p[1]")
print()

# Q11: Write s python program to display list of 50 Most expensive cars in the world (i.e. Company name, Model name and Price) from https://www.motor1.com/

In [2]:
#connecting to web drivers
driver = webdriver.Chrome(r'C:\Users\ASUS\Downloads\chromedriver_win32\chromedriver.exe')

In [3]:
#opening website in automated chrome window
url = 'https://www.motor1.com/ '
driver.get(url)

In [4]:
#maximizing automated windows
driver.maximize_window()

In [5]:
search_btn = driver.find_element(By.XPATH,'//div[@class="m1-hamburger-button"]')
search_btn.click()

In [31]:
search_btn1 = driver.find_elements(By.XPATH,'//li[@ class="m1-navigation-main__animated-block left show"]')

In [32]:
get_cars=driver.find_elements(By.XPATH,'//a[@href="/features/308149/most-expensive-new-cars-ever/"]')

In [10]:
#extracting brands
models =[]
car_model = driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in car_model:
    models.append(i.text)
len(models) 
print(models)

['Drako GTE', 'De Tomaso P72', 'Ferrari LaFerrari', 'Pagani Huayra', 'McLaren Elva', 'Czinger 21C', 'Ferrari Monza', 'Gordon Murray T.33', 'Koenigsegg Gemera', 'Zenvo TSR-S', 'Hennessey Venom F5', 'Bentley Bacalar', 'Hispano Suiza Carmen Boulogne', 'Bentley Mulliner Batur', 'Deus Vayanne', 'SSC Tuatara', 'Lotus Evija', 'Aston Martin Vulcan', 'Delage D12', 'McLaren Speedtail', 'Rimac Nevera', 'Pagani Utopia', 'Pininfarina Battista', 'Ferrari FXX K Evo', 'Gordon Murray T.50', 'Lamborghini Countach', 'Mercedes-AMG Project One', 'Aston Martin Victor', 'Hennessey Venom F5 Roadster', 'Koenigsegg Jesko', 'Aston Martin Valkyrie', 'W Motors Lykan Hypersport', 'McLaren Solus', 'Pagani Huayra Roadster BC', 'Bugatti Chiron Pur Sport', 'Lamborghini Sian', 'Koenigsegg CC850', 'Bugatti Chiron Super Sport 300+', 'Lamborghini Veneno', 'Bugatti Bolide', 'Bugatti Mistral', 'Pagani Huayra Imola', 'Bugatti Divo', 'SP Automotive Chaos', 'Pagani Codalunga', 'Mercedes-Maybach Exelero', 'Bugatti Centodieci', 'Rolls-Royce Sweptail', 'Bugatti La Voiture Noire', 'Rolls-Royce Boat Tail*', 'Most Expensive Cars In The World']

In [13]:
price=[]
price_cars = driver.find_elements(By.TAG_NAME,"strong")
for i in price_cars:
    price.append(i.text)
print(price)

['Price: $1.2 Million', 'Price: $1.3 Million', 'Price: $1.4 Million', 'Price: $1.4 Million', '', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.7 Million', 'Price: $1.8 Million', 'Price: $1.9 Million', 'Price: $1.9 Million', 'Price: $2.0 Million', 'Price: $2.0 Million', 'Price: $2.0 Million*', 'Price: $2.1 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.3 Million', 'Price: $2.4 Million', 'Price: $2.5 Million', 'Price: $2.5 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.6 Million', 'Price: $2.7 Million', 'Price: $3.0 Million', '$3.0 Million', 'Price: $3.0 Million', 'Price: $3.2 Million', 'Price: $3.4 Million', '$3.5 Million', 'Price: $3.5 Million', 'Price: $3.6 Million', 'Price: $3.6 million', 'Price: $3.7 Million', 'Price: $3.9 Million', 'Price: $4.5 Million', 'Price: $4.7 Million', 'Price: $5.0 Million', 'Price: $5.4 Million', 'Price: $5.8 Million', 'Price: $6.4 Million', 'Price: $7.4 Million', 'Price: $8.0 Million', 'Price: $9.0 Million', 'Price: $12.8 Million', 'Price: $13.4 Million', 'Price: $28.0 Million (est.)']

In [19]:
#now let's create a dataframe for first 50 scrapped data 
cars = pd.DataFrame()
cars['Models'] = models[0:51]
cars['Prices'] = price[0:51]
cars

                              Models                       Prices
0                          Drako GTE          Price: $1.2 Million
1                      De Tomaso P72          Price: $1.3 Million
2                  Ferrari LaFerrari          Price: $1.4 Million
3                      Pagani Huayra          Price: $1.4 Million
4                       McLaren Elva
5                        Czinger 21C          Price: $1.7 Million
6                      Ferrari Monza          Price: $1.7 Million
7                 Gordon Murray T.33          Price: $1.7 Million
8                  Koenigsegg Gemera          Price: $1.7 Million
9                        Zenvo TSR-S          Price: $1.7 Million
10                Hennessey Venom F5          Price: $1.7 Million
11                   Bentley Bacalar          Price: $1.8 Million
12     Hispano Suiza Carmen Boulogne          Price: $1.9 Million
13            Bentley Mulliner Batur          Price: $1.9 Million
14                      Deus Vayanne          Price: $2.0 Million
15                       SSC Tuatara          Price: $2.0 Million
16                       Lotus Evija         Price: $2.0 Million*
17               Aston Martin Vulcan          Price: $2.1 Million
18                        Delage D12          Price: $2.3 Million
19                 McLaren Speedtail          Price: $2.3 Million
20                      Rimac Nevera          Price: $2.3 Million
21                     Pagani Utopia          Price: $2.4 Million
22              Pininfarina Battista          Price: $2.5 Million
23                 Ferrari FXX K Evo          Price: $2.5 Million
24                Gordon Murray T.50          Price: $2.6 Million
25              Lamborghini Countach          Price: $2.6 Million
26          Mercedes-AMG Project One          Price: $2.6 Million
27               Aston Martin Victor          Price: $2.7 Million
28       Hennessey Venom F5 Roadster          Price: $3.0 Million
29                  Koenigsegg Jesko                 $3.0 Million
30             Aston Martin Valkyrie          Price: $3.0 Million
31         W Motors Lykan Hypersport          Price: $3.2 Million
32                     McLaren Solus          Price: $3.4 Million
33         Pagani Huayra Roadster BC                 $3.5 Million
34          Bugatti Chiron Pur Sport          Price: $3.5 Million
35                  Lamborghini Sian          Price: $3.6 Million
36                  Koenigsegg CC850          Price: $3.6 million
37   Bugatti Chiron Super Sport 300+          Price: $3.7 Million
38                Lamborghini Veneno          Price: $3.9 Million
39                    Bugatti Bolide          Price: $4.5 Million
40                   Bugatti Mistral          Price: $4.7 Million
41               Pagani Huayra Imola          Price: $5.0 Million
42                      Bugatti Divo          Price: $5.4 Million
43               SP Automotive Chaos          Price: $5.8 Million
44                  Pagani Codalunga          Price: $6.4 Million
45          Mercedes-Maybach Exelero          Price: $7.4 Million
46                Bugatti Centodieci          Price: $8.0 Million
47              Rolls-Royce Sweptail          Price: $9.0 Million
48          Bugatti La Voiture Noire         Price: $12.8 Million
49            Rolls-Royce Boat Tail*         Price: $13.4 Million
50  Most Expensive Cars In The World  Price: $28.0 Million (est.)